@media (min-width: 992px) {

	.md-screen {
		display: none;
	}

}

@media (max-width: 991px) {

	.container {
		max-width: 90%;
	}

	.job-title {
		display: none;
	}

	.work-name {
		padding: 0 1rem 1rem;
		padding-bottom: 0;
		margin-bottom: 1rem;
		/*border-bottom: 1px solid #e8e8e8;*/
	}

}

@media (max-width: 893px) {

	.location {
		margin-top: 1.5rem;
	}

}

@media (max-width: 767px) {

	.header {
		padding-top: 2rem;
	}

	.download-btn {
		margin-bottom: 1.2rem;
	}

}

@media (max-width: 583px) {

	#page-nav {
		display: none;
	}

	#topcontrol {
		display: none;
	}

}

@media (min-width: 584px) {

	#navigation {
		display: none;
	}

}

@media (max-width: 570px) {

	.phone {
		margin-top: 1.5rem;
	}

}

@media (max-width: 567px) {

	.container {
		max-width: 540px;
	}

}

@media (max-width: 575px) {

	.info-section {
		padding: 1rem;
	}

}

@media (max-width: 537px) {

	/*.header-info {
		height: 100vh;
	}*/

	.headshot {
		height: 12rem;
		width: 12rem;
		margin-top: -100px;
	}

	.headline {
		padding-bottom: 1.5rem;
		/*height: 60vh;*/
	}

	.location {
		margin-bottom: 1rem;
	}

}

@media (max-width: 503px) {

	.phone {
		margin-top: 1.5rem;
	}
}

@media (max-width: 407px) {

	.skills-set li {
		width: 7rem;
		font-size: 12px;
	}
}

@media (max-width: 395px) {

	.filter {
		font-size: 14px;
	}

}

/*@media (max-height: 812px) {

	#topcontrol {
		right: 10pt;
		bottom: 47pt;
	}

}

@media (max-height: 810px) {

	#topcontrol {
		right: 10pt;
		bottom: 5pt;
	}
}*/