html, body {
	overflow-x: hidden;
	width: 100%;
	text-align: inherit;
}

a, a:hover {
	text-decoration: none !important;
	color: inherit;
	outline: none;
}

ul {
	padding-left: 0;
}

.container-fluid {
	padding: 0;
}

/* Header area */

.header {
	background: linear-gradient(180deg, #009688 50%, #007b70 50%);
	padding-bottom: 2rem;
	padding-top: 3.5rem;
}

.social-icon {
	list-style: none;
	display: inline-block;
	padding: .3rem;
}

.fa {
	color: #ffffff;
	font-size: 1.6rem;
	opacity: .8;
}

.download-btn {
	color: #ffffff;
	font-family: "Skolar Sans Latin";
  	font-size: 12pt;
  	background-color: #00635a;
  	border: none;
  	border-radius: .2rem;
  	padding: .6rem;
  	text-shadow: 0 1px 1px #04423c;
  	cursor: pointer;
  	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
}

.download-btn:focus {
	outline: none;
}

.download-btn:active {
	transform: translateY(.1rem);
}

/* Headshot area */

.headshot {
	height: 15rem;
	width: 15rem;
}

.name {
	font-family: "Uberhand Pro";
	letter-spacing: .75px;
	font-weight: 500;
	font-size: 2.3rem;
	margin-bottom: 0;
	margin-top: .6rem;
	color: #ffffff;
}

.tag {
	color: #b7b7b7;
	font-family: "Viato-light";
	letter-spacing: .7px;
}
