html, body {
	overflow-x: hidden;
	width: 100%;
	text-align: inherit;
}

body {
	background-color: #e0e0e0;
}

a, a:hover {
	text-decoration: none !important;
	color: inherit;
	outline: none;
	cursor: pointer;
}

ul {
	padding-left: 0;
}

.container-fluid {
	padding: 0;
}

.download-btn, .contact-info li, .page-navigation, #main-menu li {
	font-family: 'Sansita', sans-serif;
	color: #ffffff;
	letter-spacing: .7px;
}

#topcontrol, .mobile-menu {
	background-color: #00635a;
	text-align: center;
	display: inline-block;
	z-index: 30;
	width: 36px;
	height: 36px;
	border-radius: 50%;
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
	background-clip: padding-box;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	position: fixed;
	bottom: 5px;
	right: 5px;
	opacity: 1;
	cursor: pointer;
}

.mobile-menu {
	top: 10px;
	right: 10px;
}

#topcontrol .fa-angle-up {
	font-size: 25px;
	top: 3px;
}

#topcontrol .fa-angle-up, .mobile-menu .fa-bars {
	position: relative;
	color: #ffffff;
	font-weight: normal;
}

.mobile-menu .fa-bars {
	font-size: 22px;
	top: 6px;
}

/* Header area */

.header {
	background-color: #009688;
	padding-top: 3.5rem;
	padding-bottom: 8rem;
}

.social-icon {
	list-style: none;
	display: inline-block;
	padding: .3rem;
}

.fa {
	color: #ffffff;
	font-size: 1.7rem;
	opacity: .8;
}

.download-btn {
	font-size: 16px;
  	background-color: #00635a;
  	border: none;
  	border-radius: .2rem;
  	padding: .6rem;
  	text-shadow: 0 1px 1px #04423c;
  	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
  	opacity: .8;
  	cursor: pointer;
}

.download-btn:focus {
	outline: none;
}

.download-btn:active, .nav-item:active {
	transform: translateY(.1rem);
}

/* Headshot area */

.headline {
	background-color: #007b70;
	padding-bottom: 1.5rem;
}

.headshot {
	margin-top: -120px;
	height: 15rem;
	width: 15rem;
}

.name {
	font-family: 'Kavivanar', cursive;
	letter-spacing: .75px;
	font-size: 42px;
	margin-bottom: 0;
	margin-top: .6rem;
	color: #ffffff;
}

.tag {
	color: #b7b7b7;
	font-family: 'Source Sans Pro', sans-serif;
	/*letter-spacing: .7px;*/
	margin-bottom: 1.5rem;
}

.contact-info li {
	font-size: 16pt;
	letter-spacing: .75px;
}

.contact-info {
	margin-bottom: 0;
}

.contact-info li {
	list-style: none;
	display: inline-block;
	padding: 0 1.5rem 0 1.5rem;
}

.contact-info span {
	margin-right: .8rem;
}

/* NAV BAR */

.page-navigation {
	background-color: #00635a;
}

#page-nav {
	list-style: none;
	margin-bottom: 0;
	letter-spacing: 1.2px;
	font-size: 14pt;
}

.nav-item {
	display: inline-block;
	padding: 1.4rem;
}

.nav-item:hover {
	text-shadow: 2px 2px 2px #04423c;
	transform: perspective(500px) translateZ(3rem);
}

#main-menu {
	background-color: #00635a;
	text-align: center;
	padding: .8rem;
	z-index: 30;
	position: absolute;
	top: 3.8rem;
	width: 100%;
	list-style: none;
	position: fixed;
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
}

#main-menu li {
	font-size: 20px;
	border-bottom: 1px solid #b7b7b7;
	margin-bottom: .5rem;
	padding-bottom: .5rem;
}

#main-menu li:last-child {
	border-bottom: none;
}

#mobile-topcontrol {
	border-bottom: none !important;
}

/* Resume section */

.section-header {
	font-family: "Viato-light";
	font-weight: 500;
	letter-spacing: .75px;
	font-size: 30pt;
	margin-bottom: 1rem;
}

.section-label {
	font-size: 22px;
	letter-spacing: .8px;
	color: #009688;
	font-weight: 500;
	font-style: italic;
	margin-bottom: 1.2px !important;
}

.section-title {
	font-family: 'Playfair Display', serif;
	/*font-style: italic;*/
	letter-spacing: .75px;
	font-size: 20px;
	color: #666666;
	font-weight: 500;
}

.about-info, .section-info, .section-date, .work-date, .work-location span {
	font-family: 'Playfair Display', serif;
	letter-spacing: .7px;
	font-size: 15px;
	font-weight: 400;
	color: #666666;
}

.section-date, .work-date, .work-location i, .work-location span {
	opacity: .7;
}

.section-title, .section-label {
	margin-bottom: .2rem;
}

.job-title {
	border-right: 1px solid #b7b7b7;
	padding-right: 3rem;
}

.info-section {
	background-color: white;
	padding: 3rem;
}

.info-layout {
	padding: 3.5rem 0 3.5rem 0;
}

.info-section {
	border-radius: .3rem;
	box-shadow: 0 3px 3px 2px rgba(0, 0, 0, 0.14);
}

.skills, .experience, .education, .portfolio {
	padding-top: 0;
}

.development-skills {
	margin-bottom: 1.8rem;
}

.skills-label {
	margin-bottom: 1rem;
}

.skills-set li {
	list-style: none;
	padding: .8rem 1rem;
	width: 9rem;
	display: inline-block;
	border: 1px solid #d0d0d0;
	margin: .3rem;
	letter-spacing: .7px;
	font-size: 16px;
	border-radius: .3rem;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
	/*text-shadow: 0 1px 1px #007D72;*/
	/* for status bar style - background: linear-gradient(to right, #009688, #009688 40%, #ffffff 40%, #ffffff 60%); */
}

.work-date {
	margin-bottom: .2rem;
}

.work-location i {
	margin-right: .2rem;
	font-size: 15px;
	color: #666666;
	opacity: .5;
}

.work-name {
	padding-left: 3rem;
	padding-bottom: 2.5rem;
}

/*#map {
	display: block;
	height: 30rem;
	width: 100%;
}*/

/* EDUCATION SECTION */

.education-info {
	margin-bottom: 1rem;
	border-bottom: 1px solid #e8e8e8;
}
.education-info:last-child {
	border-bottom: none;
	padding-bottom: 0;
}

/* PORTFOLIO SECTION */

.portfolio-section .filters {
	list-style: none;
	border-bottom: 1px solid #e8e8e8;
	margin-bottom: .8rem;
}

.filter {
	display: inline-block;
	padding: .8rem;
	text-transform: uppercase;
	letter-spacing: .7px;
	cursor: pointer;
}

.portfolio-section .filters .active {
	color: #009688;
	border-bottom: 2px solid #009688;
}

.projects {
	margin-top: 1.5rem;
	padding: .3rem .3rem 1rem .3rem;
	background-color: #009688;
	cursor: pointer;
}

.projects figure, .modal-body img {
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}

.description {
	color: #ffffff;
}

.description h5 {
	letter-spacing: .75px;
}

.modal-body {
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	letter-spacing: .7px;
}

.modal-link {
	color: #009688;
	font-size: 14pt;
}

.modal-link a:hover {
	border-bottom: 1px solid #009688;
}

.modal-link:active {
	transform: translateY(.2rem);
}