html, body {
	overflow-x: hidden;
	width: 100%;
	text-align: inherit;
}

a, a:hover {
	text-decoration: none !important;
	color: inherit;
	outline: none;
}

ul {
	padding-left: 0;
}

.container-fluid {
	padding: 0;
}

.download-btn, .contact-info li, #page-nav {
	font-family: "Skolar Sans Latin";
	color: #ffffff;
}

/* Header area */

.header {
	background-color: #009688;
	padding-top: 3.5rem;
	padding-bottom: 8rem;
}

.social-icon {
	list-style: none;
	display: inline-block;
	padding: .3rem;
}

.fa {
	color: #ffffff;
	font-size: 1.7rem;
	opacity: .8;
}

.download-btn {
	font-size: 12pt;
  	background-color: #00635a;
  	border: none;
  	border-radius: .2rem;
  	padding: .6rem;
  	text-shadow: 0 1px 1px #04423c;
  	cursor: pointer;
  	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
  	opacity: .8;
}

.download-btn:focus {
	outline: none;
}

.download-btn:active, .nav-item:active {
	transform: translateY(.1rem);
}

/* Headshot area */

.headline {
	background-color: #007b70;
	padding-bottom: 3.5rem;
}

.headshot {
	margin-top: -120px;
	height: 15rem;
	width: 15rem;
}

.name {
	font-family: "Uberhand Pro";
	letter-spacing: .75px;
	font-weight: 500;
	font-size: 28pt;
	margin-bottom: 0;
	margin-top: .6rem;
	color: #ffffff;
}

.tag {
	color: #b7b7b7;
	font-family: "Viato-light";
	letter-spacing: .7px;
	margin-bottom: 1.5rem;
}

.contact-info li {
	font-size: 16pt;
	letter-spacing: .75px;
}

.contact-info {
	margin-bottom: 0;
}

.contact-info li {
	list-style: none;
	display: inline-block;
	padding: 0 1.5rem 0 1.5rem;
}

.contact-info span {
	margin-right: .8rem;
}

.page-nav {
	background-color: #00635a;
}

#page-nav {
	list-style: none;
	margin-bottom: 0;
	letter-spacing: 1.2px;
	font-size: 14pt;
}

.nav-item {
	display: inline-block;
	padding: 1.4rem;
}


/* SKILLS section */

.skills-info {
	background-color: lightgrey;
	height: 20rem;
}

@media (max-width: 991px) {

	.location {
		margin-top: 1.5rem;
	}
}

@media (max-width: 767px) {

	.download-btn {
		margin-bottom: 1.2rem;
	}
}

@media (max-width: 503px) {

	.phone {
		margin-top: 1.5rem;
	}
}
